
.tipping .node h2 {
  font-size: 1.15em;
}

.tipping .welcome {
  background: #eeffdd; 
  border: 1px solid #9d6;
  padding: 0.01em 0.5em 0.5em; 
  margin: 0.5em 0 0.5em 0;
}

.tipping .welcome h2 {
  color: #70aa40;
}

.tipping table {
  margin-bottom: 1em;
}

.tipping tr.even {
  background-color: #f3fce4;
  border-bottom: 1px solid #bf9;
}

.tipping tr.odd {
  background-color: #e6fad5;
  border-bottom: 1px solid #bf9;
}

.tipping th {
  color: #8c3;
  font-size: 0.95em;
  border-bottom: 2px solid #9d3;
}

.tipping td.container-inline {
  width: 8em;
  text-align: center;
}

.tipping .group {
  color: #6a1;
  vertical-align: top;
  font-weight: normal;
  font-size: 0.85em;
  width: 6.6em;
}

.tipping .team-left, .tipping .team-right {
  width: 9.5em;
}

.tipping .team-left {
  text-align: right;
}

.tipping .td-number {
  text-align: right;
  padding-right: 0.7em;
}

.block-tipping .next-match {
  white-space: nowrap;
}

.block-tipping strong {
  letter-spacing: 0.1em;
  font-weight: normal;
}
